
#murphyPic {
}
#section1 {
background-color: rgb(25, 25, 255);
width: 100;
height: 100;
}
#section2 {
background-color: rgb(255, 0, 0);
font-size: 48px;
}
#section2Again {
background-color: rgb(255, 0, 0);
font-size: 48px;
background-color: rgb(20, 20, 20);
}
